@font-face {
    font-family: MontserratLoader;
    src: url("../../../public/assets/fonts/Montserrat-Bold.ttf");
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: loaderBlink 1s linear infinite;
    transition: ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.loader>span {
    font-family: 'MontserratLoader', sans-serif;
    font-size: 24px;
}

@keyframes loaderBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}