.chat-user-list-container,
.chat-container {
  height: calc(100vh - 60px);
}
.chat-user-list {
  overflow-y: scroll;
  height: calc(100vh - 120px);
}

.chat-user-list::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-user-list::-webkit-scrollbar-thumb {
  border-radius: 36px;
  background-color: rgba(0, 0, 0, 0.4);
}

.chat-user-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.chat-user-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.chat-user:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Messages*/
.chat-topbar,
.chat-bottombar {
  height: 60px;
}

.chat-message-list {
  height: calc(100vh - 180px); /*60px for navbar, chat-topbar, bottombar*/
  overflow-y: scroll;
}
