.rightbar {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow: hidden;
}

.rightbar:hover {
  overflow-y: overlay;
}

.rightbar::-webkit-scrollbar {
  width: 7px;
}

.rightbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

.rightbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 36px;
}

.rightbar-friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  padding: 12px 24px;
  cursor: pointer;
}

.rightbar-col,
.rightbar-friend-col {
  transition: 0.1s ease;
}

.fact-shuffle {
  display: none;
}

.cat-fact-container:hover > .fact-shuffle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*w-75 to w-100 for better ui*/

.w-75-to-100 {
  width: 75%;
}

@media only screen and (max-width: 1000px) {
  .w-75-to-100 {
    width: 100%;
  }
}
